<div class= "container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>

  <%# When the person clique to submit the text input go to the page answer %>
  <form action="/answer">
    <input type="text" name="question" class="input_write">
    <input type="submit" value="Ask!" class= "btn_ask">
  </form>
</div>
